body {
    padding-top: 4em;
    padding-bottom: 2em;
}

.contact,
.page-title {
    text-align: center;
}

.intro {
    margin-top: 2.6rem;

}

.contact {
    list-style: none;
    margin: 0;

    li {
        @include media($tablet) {

            display: inline-block;

            &:after {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #ccc;
                border-radius: 50%;
                margin: .175em .875em;
            }

            &:last-child:after {
                display: none;
            }

        }
    }

}

.work-section-title {
    font-size: 1em;
    padding-bottom: .1em;
    border-bottom: 1px solid #aaa;
    margin: 3em 0 .625em 0;



    @include media($tablet) {
        margin-bottom: 1.625em
    }

    @include media($desktop) {
        width: 130%;
        margin-left: -20%;
        margin-top: 6em;

        &:first-of-type {
            margin-top: 3em;
        }
    }

}

.workplace {
    @include media($desktop) {
        margin: 2.5em 0 0;
    }
}

.position-title {
    color: $font;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    margin: .1em 0 .02em;
}

.work-link-wrap,
.time-worked {
    font-size: .875em;
}

.time-worked {
    color: lighten($font, 20%);
    margin: 0 0 -.2em;
}

.no-work-link,
.work-link-wrap {
    margin: 0 0 .625em;
}

.resume-item__inner-title {
    font-size: 1.1em;
}

// semantically, this makes sense as a list, but it shouldn't take up that much space.
.paragraph-list {
    margin-left: 0;

    li {
        display: inline;
        list-style: none;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: '.';
        }
    }
}

.colophon {
    border-top: 1px solid #aaa;
    margin: 3em 0;
    padding: 3em 0 0;

    @include media($desktop) {
        width: 130%;
        margin-left: -15%;
    }
}
